{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal" style="background-image: url(/images/main.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="row my-3 justify-content-center">


        <form method="post" action="{{ path('user_login') }}" class="col-6">
            <div class="form-group">
                <label for="user-email" class="form-label">Email</label>
                <input value="{{ lastUsername }}" placeholder="Email Address" id="user-email" type="email"
                       class="form-control" name="_username"
                       required>

            </div>

            <div class="form-group">
                <label for="user-password" class="form-label">Password</label>
                <input placeholder="Password" type="password" id="user-password" class="form-control" name="_password"
                       required>

            </div>
            <input class="btn btn-primary my-3" type="submit" value="login">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </div>
    <p class="text-center">
        <a href="{{ path('ask_reset_password') }}">Forgot password ?</a>
    </p>
    <p class="text-center">
        <a href="{{ path('user_registration') }}">Sign in new Account !</a>
    </p>
{% endblock %}
