{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col image-highlight">

                {% for media in singleTrick.getMedias %}
                    {% if media.type != 'video' %}
                        <figure>
                            <img class="img-fluid" src="/uploads/{{ media.file }}" alt="{{ media.description }}">
                            <figcaption>{{ media.name }}</figcaption>
                        </figure>
                    {% else %}
                        <figure class="embed-responsive embed-responsive-16by9">
                        <iframe id="ytplayerMain"
                                src="https://www.youtube.com/embed/{{ media.file }}"
                                allowfullscreen></iframe>
                    {% endif %}
                    </figure>

                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col block-trick-gallery">
                {% for media in singleTrick.getMedias %}
                    {% if media.type != 'video' %}
                        <figure>
                            <img class="img-thumbnail" src="/uploads/{{ media.file }}" alt="{{ media.description }}">
                        </figure>
                    {% else %}
                        <figure>
                            <img class="img-thumbnail" src="https://i1.ytimg.com/vi/{{ media.file }}/sddefault.jpg"
                                 alt="{{ media.name }}">
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary" role="button"
               href="{{ path('trick-edition',  { 'slug': singleTrick.getSlug }) }}">
                Edit
            </a>
        </div>
        <div class="row">
            <p class="col">{{ singleTrick.getDescription }}</p>
        </div>
    </section>
    <hr>
    <section class="container">
        {% include 'components/comment_section.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickSingle') }}
{% endblock %}