{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Edit {{ trickName }} Trick </h1>
    <div class="row justify-content-center">
        {{ form_start(editTrickForm, {
            'attr': {
                'class': 'col-lg-6'
            }
        }) }}

        <input type="hidden" value="{{ editTrickForm.name.vars.value }}"
               name="trick_form[{{ editTrickForm.name.vars.name }}]" id="{{ editTrickForm.name.vars.id }}">
        {{ form_row(editTrickForm.description) }}
        {{ form_row(editTrickForm.trickGroup) }}

        <div class="form-group">
            <div class="form-row my-3" id="imagesFieldsList"
                 data-prototype="{{ form_rest(editTrickForm.images.vars.prototype)|e }}"
                 data-widget-tags="{{ '<div class="card"></div>'|e }}"
                 data-widget-counter="{{ editTrickForm.images|length }}">
                {% for imageField in editTrickForm.images %}
                    <div class="col-4" id="col-id-{{ loop.index }}">
                        <div class="card h-100 justify-content-between">

                            {{ form_errors(imageField) }}
                            <div class="card-body">
                                <button type="button" data-toggle="collapse"
                                        data-target="#edit{{ imageField.vars.data.name }}" aria-expanded="false"
                                        aria-controls="collapseImageEdit" class="btn btn-sm btn-outline-success w-100">
                                    Edit
                                </button>
                                <div class="collapse" id="edit{{ imageField.vars.data.name }}">
                                    {{ form_rest(imageField) }}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <button type="button" data-list-selector="#imagesFieldsList" class="btn btn-sm btn-success"
                    id="addImageButton">Add Image
            </button>
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
        {{ form_row(editTrickForm._token) }}
        {{ form_end(editTrickForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickForm') }}
{% endblock %}