{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Create Trick</h1>
    <div class="row justify-content-center">
        {{ form_start(createTrickForm, {
            'attr': {
                'class': 'col-lg-6'
            }
        }) }}

        {{ form_row(createTrickForm.name) }}
        {{ form_row(createTrickForm.description) }}
        {{ form_row(createTrickForm.trickGroup) }}
        <div class="form-group">
            <ul class="form-row" id="imagesFieldsList"
                data-prototype="{{ form_widget(createTrickForm.images.vars.prototype)|e }}"
                data-widget-tags="{{ '<div class="card h-100 justify-content-space-between"></div>'|e }}"
                data-widget-counter="{{ createTrickForm.images|length }}">
                {% for imageField in createTrickForm.images %}
                    <div class="col-4">
                        {{ form_errors(imageField) }}
                        {{ form_widget(imageField) }}
                    </div>
                {% endfor %}
            </ul>
            <button type="button" data-list-selector="#imagesFieldsList" class="btn btn-sm btn-success"
                    id="addImageButton">Add
                Media
            </button>
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
        {{ form_errors(createTrickForm) }}
        {{ form_widget(createTrickForm._token) }}
        {{ form_end(createTrickForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickForm') }}
{% endblock %}