{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col image-highlight">
                {% for image in singleTrick.getMedias %}
                    <figure>
                        <img class="img-fluid" src="/uploads/{{ image.file }}" alt="{{ image.description }}">
                        <figcaption>{{ image.name }}</figcaption>
                    </figure>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col block-trick-gallery">
                {% for image in singleTrick.getMedias %}
                    <figure>
                        <img class="img-thumbnail" src="/uploads/{{ image.file }}" alt="{{ image.description }}">
                    </figure>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <a class="btn btn-primary" role="button"
               href="{{ path('trick-edition',  { 'slug': singleTrick.getSlug }) }}">
                Edit
            </a>
        </div>
        <div class="row">
            <p class="col">{{ singleTrick.getDescription }}</p>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickSingle') }}
{% endblock %}