{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal"
            {% if singleTrick.getFirstImage %}
        style="background-image: url('{{ asset('uploads/' ~ singleTrick.getFirstImage.file ) }}')"
            {% endif %}>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ singleTrick.getName }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="container">

        {% if medias %}
            <div class="row">
                <div class="col image-highlight">

                    {% for media in medias %}

                        {% if media.type != 'video' %}
                            <figure>
                                <img class="img-fluid" src="{{ asset('uploads/' ~ media.file) }}"
                                     alt="{{ media.description }}">
                                <figcaption class="h3">{{ media.name }}</figcaption>
                            </figure>
                        {% else %}
                            <figure class="embed-responsive embed-responsive-16by9">
                                <iframe id="ytplayerMain"
                                        src="https://www.youtube.com/embed/{{ media.file }}"
                                        allowfullscreen></iframe>
                            </figure>
                        {% endif %}


                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="d-flex justify-content-center">

                <figure>
                    <img class="img-fluid" src="{{ asset('images/default_trick.png') }}"
                         alt="default">
                </figure>
            </div>
        {% endif %}
        {% if medias %}
            <div>


                <div class="block-trick-gallery d-none d-md-block ">
                    {% for media in medias %}
                        {% if media.type != 'video' %}
                            <figure>
                                <img class="img-thumbnail"
                                     src="{{ asset('uploads/' ~ media.file)  | imagine_filter('trick_slides') }}"
                                     alt="{{ media.description }}">
                            </figure>
                        {% else %}
                            <figure>
                                <img class="img-thumbnail" src="https://img.youtube.com/vi/{{ media.file }}/default.jpg"
                                     alt="{{ media.name }}"
                                     width="192">
                            </figure>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        {% endif %}

        <div class="jumbotron">
            <p class="lead">{{ singleTrick.getDescription }}</p>
            <hr class="my-2">
            <p><span class="badge badge-primary">{{ creationDate }}</span> <span
                        class="badge badge-primary">{{ trickGroup }}</span></p>
            {% if app.user is not null %}
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary" role="button"
                       href="{{ path('trick-edition',  { 'slug': singleTrick.getSlug }) }}">
                        Edit
                    </a>
                </p>
            {% endif %}
        </div>

    </section>
    <hr>
    <section class="container">
        {% include 'components/comment_section.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickSingle') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
