{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal" style="background-image: url(/images/main.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h3>Create new Trick</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        {{ form_start(trickForm, {
            'attr': {
                'class': 'col-12'
            }
        }) }}

        {{ form_row(trickForm.name) }}
        {{ form_row(trickForm.description) }}
        {{ form_row(trickForm.trickGroup) }}
        <div class="form-group">
            <div class="form-row" id="imagesFieldsList"
                 data-prototype="{{ form_widget(trickForm.images.vars.prototype)|e }}"
                 data-widget-tags="{{ '<div class="card h-100 justify-content-space-between"></div>'|e }}"
                 data-widget-counter="{{ trickForm.images|length }}">
                {% for imageField in trickForm.images %}
                    <div class="col-4">
                        {{ form_errors(imageField) }}
                        {{ form_widget(imageField) }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" data-list-selector="#imagesFieldsList" class="btn btn-sm btn-success"
                    id="addImageButton">Add
                Image
            </button>
        </div>
        <div class="form-group">
            <ul class="form-row" id="videoFieldsList"
                data-prototype="{{ form_widget(trickForm.video.vars.prototype)|e }}"
                data-widget-tags="{{ '<li class="input-group mb-3"></li>'|e }}"
                data-widget-counter="{{ trickForm.video|length }}"
                data-youtube-api="{{ youtubeApiKey }}">
                {% for videoField in trickForm.video %}
                    {{ form_errors(videoField) }}
                    {{ form_widget(videoField.id) }}
                    {{ form_widget(videoField.title) }}
                    {{ form_widget(videoField.description) }}
                    {{ form_widget(videoField.url) }}
                {% endfor %}
            </ul>
            <button type="button" data-list-selector="#videoFieldsList" class="btn btn-sm btn-success"
                    id="addVideoButton">Add
                Video
            </button>
        </div>

        <button class="btn btn-primary" type="submit">Add</button>
        {{ form_errors(trickForm) }}
        {{ form_widget(trickForm._token) }}
        {{ form_end(trickForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickForm') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
