{% extends 'base.html.twig' %}

{% block header %}
    <header class="masthead masthead--minimal"
            {% if singleTrick.getFirstImage %}
        style="background-image: url('{{ asset('uploads/' ~ singleTrick.getFirstImage.file ) }}')"
            {% endif %}>
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ singleTrick.getName }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col image-highlight">

                {% for media in singleTrick.getMedias %}
                    {% if media.type != 'video' %}
                        <figure>
                            <img class="img-fluid" src="{{ asset('uploads/' ~ media.file) }}"
                                 alt="{{ media.description }}">
                            <figcaption>{{ media.name }}</figcaption>
                        </figure>
                    {% else %}
                        <figure class="embed-responsive embed-responsive-16by9">
                        <iframe id="ytplayerMain"
                                src="https://www.youtube.com/embed/{{ media.file }}"
                                allowfullscreen></iframe>
                    {% endif %}
                    </figure>

                {% endfor %}
            </div>
        </div>
        <div>


            <div class="block-trick-gallery">
                {% for media in singleTrick.getMedias %}
                    {% if media.type != 'video' %}
                        <figure>
                            <img class="img-thumbnail"
                                 src="{{ asset('uploads/' ~ media.file)  | imagine_filter('trick_slides') }}"
                                 alt="{{ media.description }}">
                        </figure>
                    {% else %}
                        <figure>
                            <img class="img-thumbnail" src="https://img.youtube.com/vi/{{ media.file }}/default.jpg"
                                 alt="{{ media.name }}"
                                 width="192">
                        </figure>
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div class="jumbotron">
            <p class="lead">{{ singleTrick.getDescription }}</p>
            {% if app.user is not null %}
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary" role="button"
                       href="{{ path('trick-edition',  { 'slug': singleTrick.getSlug }) }}">
                        Edit
                    </a>
                    <a class="btn btn-danger" role="button"
                       href="{{ path('delete-trick',  { 'slug': singleTrick.getSlug }) }}">
                        Delete
                    </a>
                </p>
            {% endif %}
        </div>

    </section>
    <hr>
    <section class="container">
        {% include 'components/comment_section.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('trickSingle') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
