<div class="modal-header">
<div class="modal-title">
    Change Your Avatar
</div>
</div>

{{ form_start(userAvatarForm, {
    'attr': {
        'id': 'js-handle-avatar',
        'data-avatar-url': path('handle-avatar')
    }
}) }}
<div class="modal-body">
    {{ form_widget(userAvatarForm.name,  {
        'attr': {
            'hidden': 'hidden',
            'value': user.username
        }
    }) }}
    {{ form_widget(userAvatarForm.description,  {
        'attr': {
            'hidden': 'hidden',
            'value': user.username ~ "'s avatar"
        }
    }) }}
    {{ form_widget(userAvatarForm.file) }}
</div>
<div class="modal-footer">
    <button type="submit" id="submitForm" class="btn btn-success">Save</button>
</div>

{{ form_end(userAvatarForm) }}
