<h2>Commentaries</h2>


<div class="row">
    <div class="col-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-body">

                    {% if app.getToken().getRoleNames() is not empty %}
                        {{ form_start(commentForm) }}
                        <div class="form-group">
                            <strong>{{ form_label(commentForm.content, 'Leave a comment') }}</strong>
                            {{ form_widget(commentForm.content) }}
                            {{ form_errors(commentForm.content) }}
                        </div>

                        <button class="btn btn-success" type="submit">Comment</button>
                        {{ form_end(commentForm) }}
                    {% else %}
                        <p class="alert alert-info">Please <a href="{{ path('user_login') }}">sign in</a> to leave a
                            comment</p>
                    {% endif %}

                    <ul class="media-list my-5" id="commentList">
                        {% for comment in commentsList %}
                            {% include 'components/comment.html.twig' %}
                        {% endfor %}
                    </ul>
                    {% if numberOfComments > 10 %}
                        <button type="button" id="loadMoreComments" data-target="commentList" class="btn btn-primary"
                                data-page="{{ currentPage }}" data-filter="{{ singleTrick.getId }}"
                                data-url="/load-more-comment/page">
                            Load More Comments...
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
