<div class="col-lg-3 col-sm-6 col-12">
    <div class="card card__trick-miniature m-2">
        {% set medias = trick.getMedias %}

        {% if medias.getValues %}
            {% if medias.getValues[0].getType == 'video' %}
                <img loading="lazy" src="https://i1.ytimg.com/vi/{{ medias.getValues[0].file }}/sddefault.jpg"
                     class="card-img-top"
                     alt="{{ medias[0].getName }}">
            {% else %}
                <img loading="lazy" src="{{ asset('uploads/' ~ medias.getValues[0].getFile) }}" class="card-img-top"
                     alt="{{ medias[0].getName }}">
            {% endif %}
        {% else %}
            <img loading="lazy" src="{{ asset('images/default_trick.png') }}" class="card-img-top"
                 alt="default">
        {% endif %}


        {% if app.user is not null %}
            <div class="card-actions">
                <a href="{{ path('trick-edition', { 'slug': trick.getSlug }) }}" type="button"
                   class="btn btn-primary"><i class="bi-pen"></i></a>
                <button class="btn btn-danger confirmDeleteModal" id="Modal{{ trick.getSlug }}" type="button"
                        data-toggle="modal" data-target="#confirmDeleteModal{{ trick.getSlug }}">
                    <i class="bi-trash"></i>
                </button>
            </div>
            <div class="modal fade" id="confirmDeleteModal{{ trick.getSlug }}" tabindex="-1" role="dialog"
                 aria-labelledby="confirmDeleteModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to Delete {{ trick.getName }} Trick ?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
                            <a type="button" href="{{ path('delete-trick', {'slug': trick.getSlug }) }}"
                               class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card-body">

            <h5 class="card-title title__trick-miniature"> {{ trick.getName }}</h5>

            <a href="{{ path('trick-single', { 'slug': trick.getSlug }) }}" class="btn btn-primary">See More</a>
        </div>
    </div>
</div>
