<div class="col-3">
    <div class="card m-2">
        {% set medias = trick.getMedias %}

        {% if medias.getValues %}
            <img loading="lazy" src="{{ asset('uploads/' ~ medias.getValues[0].getFile) }}" class="card-img-top"
                 alt="{{ medias[0].getName }}">
        {% endif %}


        <div class="card-body">

            <h5 class="card-title"> {{ trick.getName }}</h5>
            <p class="card-text">{{ trick.getDescription|u.truncate(100, '...', false) }}</p>

            <a href="{{ path('trick-single', { 'slug': trick.getSlug }) }}" class="btn btn-primary stretched-link">See
                More</a>
        </div>
    </div>
</div>