<div class="col-3">
    <div class="card m-2">
        {% set medias = trick.getMedias %}

        {% if medias.getValues %}
            {% if medias.getValues[0].getType == 'video' %}
                <img loading="lazy" src="https://i1.ytimg.com/vi/{{ medias.getValues[0].file }}/sddefault.jpg"
                     class="card-img-top"
                     alt="{{ medias[0].getName }}">
            {% else %}
                <img loading="lazy" src="{{ asset('uploads/' ~ medias.getValues[0].getFile) }}" class="card-img-top"
                     alt="{{ medias[0].getName }}">
            {% endif %}

        {% endif %}


        {% if app.user is not null %}
            <div class="card-actions">
                <a href="{{ path('trick-edition', { 'slug': trick.getSlug }) }}" type="button"
                   class="btn btn-primary"><i class="bi-pen"></i></a>
                <a type="button" class="btn btn-danger"><i class="bi-trash"></i></a>
            </div>
        {% endif %}
        <div class="card-body">

            <h5 class="card-title"> {{ trick.getName }}</h5>
            <p class="card-text">{{ trick.getDescription|u.truncate(100, '...', false) }}</p>

            <a href="{{ path('trick-single', { 'slug': trick.getSlug }) }}" class="btn btn-primary">See
                More</a>
        </div>
    </div>
</div>